@use './partials/vars'as *;
@use './partials/navigation';
@use './partials/button';
@use './partials/portfolio';
@use './partials/banner';
@use './partials/about';
@use './partials/strategy';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 1.25rem;
    line-height: 1.5;
}

.u-pad-2 {
    padding: 2rem;
}