@use './partials/vars'as *;
@use './partials/navigation';
@use './partials/button';
@use './partials/portfolio';
@use './partials/banner';
@use './partials/about';
@use './partials/strategy';
@use './partials/blogs';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 1.25rem;
    line-height: 1.5;
}

.u-pad-2 {
    padding: 2rem;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #a855f7 30%, #f178b6 100%);
    transform-origin: 0%;
    z-index: 9999;
}