.about-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 300vh;

    >img {
        position: relative;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 50;
        pointer-events: none;
        border-radius: 16px;
        max-width: 60%;
        filter: drop-shadow(2px 4px 16px rgba(0, 0, 0, 0.5));
    }
}

.about-content {
    margin-top: 300vh;
}