.banner {
    margin-top: 1.5rem;
    padding: 2rem;
    border-radius: 1.5rem;

    &__text {
        font-size: clamp(1.5rem, 3vw, 3.5rem);
        margin-bottom: 1.5rem;
    }

    &__subtitle {
        font-size: clamp(1rem, 1.5vw, 1.8rem);
        margin-bottom: 1.5rem;
        color: #fff;
    }
}

.mini-banner {
    max-width: 70vw;
    margin: 0 auto;
    text-align: center;
}